{% extends 'movie_app/base.html' %}

{% block title %} List of all films {% endblock %}

{% block content %}
  <h2> List of all films</h2>
  <ul>
	{% for movie in movies %}
	{% comment %} <li> <a href={% url 'movie_detail' movie.id %}>{{ movie.name }}</a>, rating - {{ movie.rating }}, year - {{ movie.year|default:'unknown' }}. </li> {% endcomment %}
	<li> <a href={{ movie.get_url }}>{{ movie.name }}</a>, rating - {{ movie.rating }}, year - {{ movie.year|default:'unknown' }}. </li>
	{% endfor %}
  </ul>
{% endblock %}