{% extends 'base.html' %}

{% load static %}

{% block css_additional %} 
<link rel="stylesheet" href="{% static 'horoscope/css/index.css'%}" />
{% endblock %}

{% block title %}
  Horoscope Application List
{% endblock %}

{% block content %}

  {% include 'includes/navbar.html' only %}
  <h1>Horoscope Application List</h1>
  {% if zodiac_list %}
  <ul>
  {% for zodiac in zodiac_list %}
    <li> <a href='{% url 'horoscope-name' sign_zodiac=zodiac %}'>{{zodiac|title}}</a> </li>
  {% endfor %}
  </ul>
  {% endif %}

  {% include 'includes/navbar.html' only %}

{% endblock %}
  