{% extends 'base.html' %}

{% load static %}
{% load my_filters %}

{% block css_additional %} 
<link rel="stylesheet" href="{% static 'horoscope/css/info.css'%}" />
{% endblock %}

{% block title %}
  Horoscope for {{ sign|capfirst }}
{% endblock %}

{% block content %}

  {% include 'includes/navbar.html' %}

  {% if description_data is None %}    
  <h2>There is no such zodiac sign - {{ sign|upper }}</h2>
  {% else %}
  <h1>{{ sign|capfirst }}</h1>
  <h2>{{ description_data|capfirst|safe }}</h2>
  {% comment %} <h2>{{ description_data|split|first }} - my filter split</h2> {% endcomment %}

  {% endif %}

{% endblock %}